<form name="delete-order-form" method="POST"></form>

<form name="container-form" class="mt-4 container" method="post" action="/orders/handle-form-actions">
  <div>
    <h3>Đơn hàng đã đặt</h3> 
  </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Ảnh</th>
                <th scope="col">Giá bán</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Tình trạng</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each OrderStatus}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.Product.name}}</td>
                <td>
                  <a href="/products/{{this.Product.slug}}" class="">
                    <img class="me-store-img" src="/uploads/{{this.Product.img}}" alt="{{this.Product.name}}">
                  </a>
                </td>
                <td>{{this.Product.price}}</td>
                <td>{{this.Order.OrderQtt}}</td>
                <td style="color: #a37d01;">Đang chờ</td>
                <td>
                    <a href="" data-toggle="modal" data-target="#delete-order-modal" data-id ="{{this.Order._id}}" class="btn btn-danger">Hủy đơn</a>
                </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="6" class="text-center">
                Mua gì đê bạn êi!
              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>
    {{!-- Delete modal --}}
<div id="delete-order-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Hủy đơn hàng?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn hủy đơn hàng này?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-order" type="button" class="btn btn-danger">Oke</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

<script>
    
    document.addEventListener("DOMContentLoaded", function(){
        var order_id
        var deleteForm = document.forms["delete-order-form"]
        var orderItemCheckbox = $('input[name="ordersIds[]"]')
        var checkAllSubBtn = $('.check-all-submit-btn')
        var containerForm = document.forms["container-form"]
        var checkboxAll = $('#checkbox-all')
        $("#delete-order-modal").on('show.bs.modal', function(event){
          var button = $(event.relatedTarget);
          order_id = button.data("id");
          console.log(order_id)
        })
        var btnDeleteorder = document.getElementById("btn-delete-order")
        btnDeleteorder.onclick = function(){
          console.log(order_id);
          deleteForm.action = "/me/" + order_id + "/deleteOrder?_method=DELETE";
          deleteForm.submit()
        }
        //
        // when the checkbox all click
        checkboxAll.change(function(){
          var isChecked = $(this).prop("checked")
          orderItemCheckbox.prop("checked",isChecked);
          renderCheckAllSubmitBtn()
        })
        // when checkbox item check
        orderItemCheckbox.change(function(){
          var isCheckAll = orderItemCheckbox.length === $('input[name="ordersIds[]"]:checked').length
          checkboxAll.prop("checked",isCheckAll);
          renderCheckAllSubmitBtn()
        })
        function renderCheckAllSubmitBtn() {
          var checkedCount = $('input[name="ordersIds[]"]:checked').length
          if(checkedCount > 0) {
            checkAllSubBtn.attr('disabled', false);
          }
          else {
            checkAllSubBtn.attr('disabled', true);
          }
        }
        console.log(deleteForm);
    })
</script>